<p id="notice"><%= notice %></p>

<p>
  <strong>Razon:</strong>
  <%= @invoice.razon %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @invoice.fecha %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @invoice.nombre %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
<br/>
<%= link_to 'Crear detalle', new_invoice_item_path(@invoice) %>

<%= render 'items' %>